:host {
  font-size: 0px;
}

.container {
  margin-bottom: 5px;
  display: inline-block;
}

.container ::slotted(button:first-child) {
  border-radius: 6px 0 0 6px;
}

.container ::slotted(button:last-child) {
  border-radius: 0 6px 6px 0;
}

.container ::slotted(button:not(:first-child)) {
  margin: 0 -1px;
}

.container ::slotted(button:only-child) {
  border-radius: 6px;
  margin: 0;
}

::slotted(button) {
  border: 1px solid #c9c9c9;
  background: #f8f8f8;
  color: #000;
  text-align: center;
  display: inline-block;
  padding: 11px;
  margin: 0;
  max-height: 40px;
}

::slotted(button:hover) {
  cursor: pointer;
}

::slotted(button:focus) {
  outline: solid #54abe6 1px;
}

::slotted(button[selected]) {
  background: #eee;
  box-shadow: inset 0px 0px 5px #bbb;  
}
